{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>LifeOS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="d-flex">

    <!-- Sidebar -->

    <div class="bg-dark text-white p-3 vh-100"
         style="width:260px; position:fixed;">

        <h2 class="text-center mb-5">

            LifeOS

        </h2>

        <a href="/"
           class="btn btn-dark w-100 mb-2">

            🏠 Dashboard

        </a>

        <a href="/today/"
           class="btn btn-dark w-100 mb-2">

            📝 Today's Entry

        </a>

        <a href="/analytics/"
           class="btn btn-dark w-100 mb-2">

            📈 Analytics

        </a>

        <a href="/history/"
           class="btn btn-dark w-100 mb-2">

            📅 History

        </a>

        <a href="/settings/"
           class="btn btn-dark w-100 mb-2">

            ⚙ Settings

        </a>

    </div>

    <!-- Main Content -->

    <div
        style="margin-left:270px;
               width:100%;
               padding:30px;">

        {% block content %}

        {% endblock %}

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'js/script.js' %}"></script>

</body>

</html>